@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
.border {
	border: solid 3px black;
	height: 500px;
	padding: 10px;
}
#midCon {
	border: solid 3px green;
	height: 500px;
	padding: 10px;
	display: flex;
	
}
#rightCon {
	float: right;
	border: solid 3px blue;
	height: 500px;
	width: 45%;
	padding: 10px;
}
#leftCon {
	float: left;
	border: solid 3px red;
	height: 500px;
	width: 45%;
	padding: 10px;
}